#Force www:
RewriteEngine on
RewriteBase /
RewriteRule ^index\.php/?$ / [L,R=301,NC]

RewriteCond %{HTTP_HOST} ^sumanastech.com [NC]
RewriteRule ^(.*)$ http://www.sumanastech.com/$1 [L,R=301,NC]


##Force non-www:
#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^www\.medizura\.com [NC]
#RewriteRule ^(.*)$ http://medizura.com/$1 [L,R=301]